<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito De Compras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <main>
        <a href="{% url 'index' %}">
            <i class="bi bi-arrow-left"></i>
            Continuar Comprando
        </a>
        {% if cart %}
            <section>
                <h1>Carrito de Compras</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id. Producto</th>
                            <th>Producto</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in cart.items %}
                            <tr>
                                <td>
                                    {{ key }}
                                </td>
                                <td>
                                    <img src="{{ value.imagen }}" alt="{{ value.nombre }}" width="150">
                                    <p>{{ value.nombre }}</p>
                                </td>
                                <td>
                                    {{ value.descripcion }}
                                </td>
                                <td>
                                    {{ value.precio }}
                                </td>
                                <td>
                                    {{ value.cantidad }}
                                </td>
                                <td>
                                    <a href="{% url 'add_to_cart' key %}">Aumentar cantidad +</a>
                                    <a href="{% url 'subtract_from_cart' key %}">Disminuir cantidad -</a>
                                    <a href="{% url 'remove_product_cart' key %}">Quitar Producto</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% else %}
            <h2>Tu carrito está vacío.</h2>
        {% endif %}

        {% if cart %}
            <section>
                <h2>Total: {{ total_price }}</h2>
                <a href="#" class="btn btn-primary">Proceder al Pago</a>
            </section>
        {% endif %}
    </main>
</body>
</html>