@font-face {
    font-family: Fredoka_One;
    src: url('../fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: Arial_Rounded_Bold;
    src: url('../fonts/Arial_Rounded_Bold/ARLRDBD.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Fredoka_One;
    font-size: 50px;
    color: #82BE58;
    text-align: center;
    padding: 15px 0px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
}

#logo-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    min-height: 38vh;
    padding: 0px 2px;
}

.item-about {
    background-color: #0c8E4E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

h4 {
    font-family: Fredoka_One; 
    font-size: 35px;
    color: #C5D65F;
    padding: 5px 0px;
}

p {
    font-family: Arial_Rounded_Bold;
    font-size: 18px;
    color: #F5F5F5;
    padding: 5px 10px;
    height: 40%;
}

@media (max-width: 874px) {
    article {
        flex-direction: column;
        row-gap: 2px;
        padding: 0px;
    }

    .item-about {
        width: 100%;
        padding: 10px;
        min-height: 200px;
        border-radius: 0px;
    }
}