/*--------------------------------------------*/
/*                 Formulario                 */
/*--------------------------------------------*/
.section-singup {
    padding: 35px 25px;
}

.section-singup .form-singup {
    border-radius: 15px;
    padding: 25px;
    background-color: white;
}

.form-singup h1 {
    font-family: Arial_Rounded_Bold;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0em;
    color: #0C8E4E;
}

.form-singup .singup-message {
    font-family: Fredoka_One;
    font-size: 15px;
    letter-spacing: 0em;
    color: red;
}

.form-singup div {
    margin: 15px 0px;
}

.form-singup div label {
    font-family: Arial_Rounded_Bold; /*Arial_Rounded_Bold, Knewave, Fredoka_One, Kalam_Bold, Kalam, Kalam_light*/
    font-size: 15px;
    letter-spacing: 0em;
}

.form-singup div input {
    font-family: Kalam;
    font-size: 18px;
    letter-spacing: 0em;
}

.form-singup div .text-help {
    font-family: Kalam_Bold;
    font-size: 15px;
    letter-spacing: 0em;
}

.form-singup div button {
    font-family: Fredoka_One;
    font-size: 16px;
    background-color: #0C8E4E;
    color: white;
}

.form-singup div button:hover {
    color: white;
    background-color: #82BE58;
}