{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | BIOCOLIBRISTORE</title>
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>
<body>
    <main>
        <section>
            <article id="container1">
                <img src="{% static 'img/logo.png' %}" alt="logo" id="img">
            </article>
            <article>
                <div id="desc-about">
                    <h1>Sobre Nosotros</h1>
                    <h4>Nuestra Tienda</h4>
                    <P>
                        En <strong><em>BIOCOLIBRISTORE</em></strong>, estamos comprometidos con un futuro sostenible. <br><br>
                        
                        Ofrecemos productos hechos de materiales reciclables, haciendo que el consumo responsable sea accesible y atractivo. 
                        Al elegirnos, <span class="underlined">no solo adquieres calidad; sino que también apoyas proyectos que mejoran el reciclaje y promueven prácticas 
                        sostenibles.</span> <br><br>
                        
                        Juntos, estamos creando un mundo más limpio y saludable. Únete a nuestra comunidad y haz de cada compra un paso hacia un 
                        cambio positivo. <br><br>
                        
                        ¡Gracias por ser parte de esta causa!
                    </P>
                </div>
            </article>
        </section>
    </main>
</body>
</html>