{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | BIOCOLIBRISTORE</title>
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>
<body>
    <main>
        <h1>Sobre Nosotros</h1>
        <section>
            <div id="logo-about">
                <img src="{% static 'img/logo.png' %}" alt="logo" id="img">
            </div>
            <article>
                <div class="item-about">
                    <h4>Misión</h4>
                    <p>
                        Ofrecemos productos hechos de materiales reciclables, 
                        haciendo que el consumo responsable sea accesible y atractivo.
                    </p>
                </div>
                <div class="item-about">
                    <h4>Visión</h4>
                    <p>
                        En <strong><em>BIOCOLIBRISTORE</em></strong>, estamos 
                        comprometidos con un futuro sostenible.
                        Juntos, estamos creando un mundo más limpio y saludable.
                    </p>
                </div>
                <div class="item-about">
                    <h4>Nuestra Tienda</h4>
                    <p>
                        Únete a nuestra comunidad y haz de cada compra un paso hacia un 
                        cambio positivo.
                        ¡Gracias por ser parte de esta causa!
                    </p>
                </div>
            </article>
        </section>
    </main>
</body>
</html>